@model MyPlace.Areas.Administrator.Models.AdministerEntityViewModel


@{
    string searchPanelClass = "";
    string addLogBookClass = "";
    string moderatorsClass = "";
    string addHeaderClass = "";
    //if (Model.SearchNotes.IsSearchActive)
    //{
    //    searchPanelClass += "show";
    //    addHeaderClass += "collapsed";
    //}
    //else
    //{
    //    addLogBookClass  += "show";
    //    moderatorsClass += "collapsed";
    //}
}

<div class="container">
    <div class="row mt-2 mb-2">
        <div class="col-md-12 col-12 font-weight-bold"><h3>@Model.Entity.Title</h3></div>
    </div>
</div>

<div id="page-border">
    <div class="tab-content clearfix">
        <div class="tab-pane active">
            <div id="accordion">
                <div>
                    <div class="card-header" id="headingAddNote">
                        <h5 class="mb-0 collapsible-header @addHeaderClass" data-toggle="collapse" data-target="#collapseAddNote" aria-expanded="true" aria-controls="collapseAddNote">
                            <button class="btn btn-link">Add Entity</button>
                        </h5>
                    </div>
                    <div id="collapseAddNote" class="collapse collapsible-panel @addLogBookClass " aria-labelledby="headingAddNote" data-parent="#accordion">
                        <partial name="_AddLogBookPartial.cshtml" model="@Model.NewLogBook" />
                    </div>
                </div>

                <div>
                    <div class="card-header" id="headingSearch">
                        <h5 class="mb-0 collapsible-header @moderatorsClass" data-toggle="collapse" data-target="#collapseModerators" aria-expanded="false" aria-controls="collapseModerators">
                            <button class="btn btn-link">Moderators</button>
                        </h5>
                    </div>
                    <div id="collapseModerators" class="collapse collapsible-panel @searchPanelClass" aria-labelledby="headingSearch" data-parent="#accordion">
                        @*<partial name="_EntitiesPartial.cshtml" model="@Model.Entity" />*@

                        <div class="container">
                            <div class="row bg-light">
                                <div class="col-md-6">

                                    <h5>Moderators:</h5>
                                    @foreach (var user in Model.EntityModerators)
                                    {
                                        <input type="hidden" asp-for="@user.Id" />
                                        <div><i class="fa fa-tag mr-1"></i>@user.Name</div>
                                    }

                                </div>
                                <div class="col-md-6">
                                    <form asp-action="AddModeratorToEntity" method="post">                                        
                                        <input type="hidden" asp-for="@Model.Entity.Id" />                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <h5>Unassigned Moderators:</h5>
                                                    @for (int i = 0; i < Model.UnassignedModerators.Count; i++)
                                                    {
                                                        string id = "radiobtn" + Model.UnassignedModerators[i].Name;

                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" asp-for="@Model.UnassignedModerators[i].isSelected">
                                                            <label class="custom-control-label" asp-for="@Model.UnassignedModerators[i].isSelected">@Model.UnassignedModerators[i].Name</label>
                                                            <input type="hidden" asp-for="@Model.UnassignedModerators[i].Name" />
                                                            <input type="hidden" asp-for="@Model.UnassignedModerators[i].Id" />
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="submit" value="Add" class="btn btn-primary" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        @* end *@
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row mt-3 mb-2">
            <div class="col-md-3 col-12 font-weight-bold"><h5>Logbooks</h5></div>
        </div>
    </div>

    @{
        var entityId = "entityId";

        foreach (var logbook in Model.LogBooks)
        {
            <div class="container">
                <div class="row mt-2 mb-2 p-2 bg-light" id="@entityId + @logbook.Id">
                    <input type="hidden" asp-for="@logbook.Id" />
                    <div class="col-md-3 col-12">@logbook.Title</div>
                    <a class="col-md-1 col-12" href='@Url.Action("LogBook", "Entities", new { id = @logbook.Id })'>Details</a>
                    @*<a class="col-md-1 col-12" href='@Url.Action("AdministerEntity", "Entities", new { Id = @logbook.Id })'><i class="fa fa-pencil-square-o icon"></i></a>*@
                </div>
            </div>
        }
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Styles
    {
    <link href="~/css/entities.css" rel="stylesheet" />
    <link href="~/lib/login-form/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
}
