@model MyPlace.Areas.Administrator.Models.EntitiesViewModel
@{
    ViewData["Title"] = "Entities";
}

<h3>Entities</h3>
<div id="page-border">
    <table class="table table-striped table-bordered" id="entities-table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Address</th>
                <th>Administer entity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entity in Model.Entities)
            {
                <tr>
                    <td><img src="@entity.ImageUrl" class="entity-img" /></td>
                    <td class="font-weight-bold">@entity.Title</td>
                    <td>@entity.Description</td>
                    <td>@entity.Address</td>
                    <td><a href='@Url.Action("AdministerEntity", "Entities", new { Id = @entity.Id })'><i class="fa fa-pencil-square-o icon"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Styles
    {
    <link href="~/css/entities.css" rel="stylesheet" />
    <link href="~/lib/login-form/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/data-tables/jquery.dataTables.min.css" rel="stylesheet" />
}

@section Scripts
    {
    <script src="~/lib/data-tables/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#entities-table').DataTable({
                "lengthMenu": [[5, 10, 25, 100, -1], [5, 10, 25, 100, "All"]],
                "columns": [
                    { "orderable": false },
                    null,
                    null,
                    null,
                    { "orderable": false }
                ]
            });
        });
    </script>
}