@model MyPlace.Areas.Administrator.Models.AdministerLogBookViewModel

<div>Logbooks</div>
@{
    <div class="container">
        <div class="row mt-2 mb-2 p-2 bg-light">
            <input type="hidden" asp-for="@Model.LogBook.Id" />
            <img class="col-md-3 col-12" src="@Model.LogBook.ImageUrl" />
            <div class="col-md-3 col-12 font-weight-bold">@Model.LogBook.Title</div>
            <div class="col-md-1 col-12 font-weight-bold">@Model.LogBook.Description</div>
            <div class="col-md-4 col-12">@Model.LogBook.Address</div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <i class="fa fa-tag"></i> Assigned Tags:
            @foreach (var category in Model.LogBook.Categories)
            {
                <input type="hidden" asp-for="@category.CategoryId" />
                <div class="col-md-3 col-3 font-weight-bold">@category.Name</div>
            }
        </div>
    </div>

}
}

