@model MyPlace.Areas.Administrator.Models.AdministerLogBookViewModel

@{
    <div class="container">
        <div class="row mt-2 mb-2 p-2 bg-light">
            <input type="hidden" asp-for="@Model.LogBook.Id" />
            <div class="col-md-3 col-12 font-weight-bold"><h5>Logbook: @Model.LogBook.Title</h5></div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-2 mb-2 p-2 bg-light">
            <div class="col-md-6">
                <div class="form-group">
                    <i class="fa fa-tag"></i><strong>Assigned tags:</strong>
                    @foreach (var category in Model.LogBookCategories)
                    {
                        <input type="hidden" asp-for="@category.CategoryId" />
                        <div class="col-md-3 col-3 font-weight-bold">@category.Name</div>
                    }
                </div>
            </div>
            <div class="col-md-6">
                <form asp-action="AddCategoryToLogBook" method="post">
                    <input type="hidden" asp-for="@Model.LogBook.Id" />
                    <div class="form-group">
                        <strong>Unassigned tags:</strong>
                        @for (int i = 0; i < Model.AllUnassignedCategories.Count; i++)
                        {
                            string id = "radiobtn" + Model.AllUnassignedCategories[i].Name;

                            <div class="custom-control">
                                <input type="checkbox" asp-for="@Model.AllUnassignedCategories[i].isSelected">
                                <label asp-for="@Model.AllUnassignedCategories[i].isSelected">@Model.AllUnassignedCategories[i].Name</label>
                                <input type="hidden" asp-for="@Model.AllUnassignedCategories[i].Name" />
                                <input type="hidden" asp-for="@Model.AllUnassignedCategories[i].CategoryId" />
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Add Tag" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-2 mb-2 p-2 bg-light">
            <div class="col-md-6">
                <div class="form-group">
                    <i class="fa fa-tag"></i> <strong>Logbook Managers:</strong>
                    @foreach (var user in Model.LogBookManagers)
                    {
                        <input type="hidden" asp-for="@user.Id" />
                        <div class="col-md-3 col-3 font-weight-bold">@user.Name</div>
                    }
                </div>
            </div>
            <div class="col-md-6">
                <form asp-action="AddManagerToLogBook" method="post">
                    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@  
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="hidden" asp-for="@Model.LogBook.Id" />
                            <strong>All Managers:</strong>
                            @for (int i = 0; i < Model.AllUnassignedManagers.Count; i++)
                            {
                                string id = "radiobtn" + Model.AllUnassignedManagers[i].Name;

                                <div class="custom-control">
                                    <input type="checkbox" asp-for="@Model.AllUnassignedManagers[i].isSelected">
                                    <label asp-for="@Model.AllUnassignedManagers[i].isSelected">@Model.AllUnassignedManagers[i].Name</label>
                                    <input type="hidden" asp-for="@Model.AllUnassignedManagers[i].Name" />
                                    <input type="hidden" asp-for="@Model.AllUnassignedManagers[i].Id" />
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="submit" value="Add Manager" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
