
@model MyPlace.Models.Catalog.EstablishmentIndexModel

<h2>@Model.Title</h2>


<div class="form-group">
    <form>
        <input type="text" id="userInput" />
        <textarea class="form-control" placeholder="Add comment!" id="comment-area" rows="5"></textarea>
        <input type="hidden" id="establishment-id" name="name" value="@Model.Id" />
        <input type="button" id="sendButton" value="Send Message" class="btn btn-primary" style="margin-top:10px" />
    </form>
</div>


<section id="app" class="comments">
    <article>
        <h6 id="messagesList"></h6>
    </article>
</section>


<section id="app" class="comments">
    @foreach (var comment in Model.Comments.OrderByDescending(date => date.CreatedOn))
    {
        <article>
            <h4><a href="#">@comment.Author</a></h4>
            <time>Created On: @comment.CreatedOn</time>
            <like></like>
            <h6>
                @comment.Content
            </h6>
        </article>
    }
</section>


