
@model MyPlace.Models.Catalog.EstablishmentIndexModel

<h2>@Model.Title</h2>
<br>

<link href="~/lib/login-form/css/main.css" rel="stylesheet" />

<div class="form-group">
    <form>
        <div class="col-md-4 col-sm-4 contact-form">
            <div class="form-group">
                <input type="text" class="form-control label-floating is-empty" name="userInput" id="userInput" placeholder="Name (Optional)" />
                <div class="validation"></div>
            </div>
        </div>

        <textarea class="form-control" id="comment-area" name="comment-area" rows="5" placeholder="Please write something for us"></textarea>
        <h6 id="count_message"></h6>
        <input type="hidden" id="establishment-id" name="name" value="@Model.Id" />
        <input type="button" id="sendButton" value="Leave a comment!" class="btn btn-info" 
               style="margin-top:10px; background-color:#5ce500; border:none;" />
    </form>
</div>

<section id="app" class="comments">
    <article>
        <h6 id="messagesList"></h6>
    </article>
</section>


<section id="app" class="comments">
    @foreach (var comment in Model.Comments.OrderByDescending(date => date.CreatedOn))
    {
        <article>
            <h4><a href="#"><strong>@comment.Author</strong></a></h4>
            <time>Created On: @comment.CreatedOn</time>
            <h6>
                @comment.Content
            </h6>
        </article>
    }
</section>
<br>

@section scripts {
    <script src="~/js/site.js"></script>
}