
@model PaginatedList<MyPlace.Models.Catalog.CatalogListingModel>

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/lib/kendo-ui-core/styles/kendo.common.min.css" rel="stylesheet" />
<link href="~/lib/kendo-ui-core/styles/kendo.silver.min.css" rel="stylesheet" />

<div class="content">
    <h1>Rate the Hotel/Restaurant service</h1>
    <span><i class="fa fa-star"></i></span>
</div>

<form asp-action="Index" method="get">
    <div class="section k-content">
        <h4><label for="objects">Search:</label></h4>
        <input value="@ViewData[" Filter"]" id="objects" style="width: 100%;" />
    </div>
</form>

<br>
<div>
    @foreach (var item in Model)
    {
        <div class="section-border">
            <div class="row">
                <div class="col-md-4">
                    <figure class="snip1573">
                        <center>
                            <img src="@item.ImageUrl" alt="" height="200" width="315" />
                        </center>
                        <figcaption>
                            <h3>@item.Title</h3>
                        </figcaption>

                        <a href="/Catalog/Establishment/@item.Id"></a>

                    </figure>
                </div>
                <div class="col-md-7 left-align-p">
                    <br>
                    <h6>@item.Description</h6>
                    <h5>Rating: </h5>

                    <br>
                    <a asp-controller="Catalog" asp-action="Establishment" asp-route-id="@item.Id" class="snip1505 hover">
                        leave a comment
                    </a>
                </div>
            </div>
        </div>
    }
</div>

@section scripts {
    <script src="~/lib/kendo-ui-core/js/jquery.min.js"></script>
    <script src="~/lib/kendo-ui-core/js/kendo.ui.core.min.js"></script>
    <script src="~/lib/kendo-ui-core/js/kendo.autocomplete.min.js"></script>

    <script>

        $('#objects').kendoAutoComplete({
            filter: 'contains',
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/Catalog/GetAll",
                        dataType: "json",
                        serverPaging: true,
                        serverFiltering: true
                    }
                }
            })
        });

    </script>
}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData[" CurrentFilter"]"
   class="btn @prevDisabled">
    <strong>Previous</strong>
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData[" CurrentFilter"]"
   class="btn @nextDisabled">
    Next
</a>


    @*<div class="wrapper">
        <input type="checkbox" id="st1" value="1" />
        <label for="st1"></label>
        <input type="checkbox" id="st2" value="2" />
        <label for="st2"></label>
        <input type="checkbox" id="st3" value="3" />
        <label for="st3"></label>
        <input type="checkbox" id="st4" value="4" />
        <label for="st4"></label>
        <input type="checkbox" id="st5" value="5" />
        <label for="st5"></label>
    </div>*@
