@model MyPlace.Areas.Notes.Models.NoteViewModel

@{
    var noteId = "noteId" + @Model.Id;
    var noteChBoxId = "noteChBoxId"+@Model.Id;
 }
<tr id="@noteId">
    <td><input type="hidden" asp-for="@Model.Id" /></td>
    <td>@Model.Text</td>
    <td>@Model.Date</td>
    <td>@Model.NoteUser.Name</td>
    <td>
        @if (@Model.HasStatus)
        {
            <input type="checkbox" asp-for="@Model.IsCompleted" id="@noteChBoxId"/>
        }
    </td>
    @if (@Model.Category == null || @Model.Category.Name == null)
    {
        <td></td>
    }
    else
    {
        <td>@Model.Category.Name</td>
    }
    @if (Model.NoteUser.Id == Model.CurrentUserId)
    {
        <td>
            @Html.ActionLink("Edit", "EditNote", "Notes", new { noteId = @Model.Id}) 
        </td>
    }
</tr>