@model MyPlace.Areas.Notes.Models.NoteViewModel

<tr>
    <td><input type="hidden" asp-for="@Model.Id" /></td>
    <td>@Model.Text</td>
    <td>@Model.Date</td>
    <td>@Model.NoteUser.Name</td>
    <td>
        @if (@Model.HasStatus)
        {
            <input type="checkbox" asp-for="@Model.IsCompleted" />

        }
    </td>
    @if (@Model.Category == null || @Model.Category.Name == null)
    {
        <td></td>
    }
    else
    {
        <td>@Model.Category.Name</td>
    }
        @if (Model.NoteUser.Id == Model.CurrentUserId)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
            </td>
        }
    </tr>