@model MyPlace.Areas.Notes.Models.EditNoteViewModel
<h1>Edit note</h1>
<div>
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @Model.ErrorMessage
        </div>
    }
    <form asp-action="EditNote" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="hidden" asp-for="@Model.Note.Id" />
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="@Model.Note.NoteUser.Id />
        </div>
        <div class=" form-group">
            <input type="hidden" asp-for="@Model.Note.EntityId" />
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <textarea rows="2" asp-for="@Model.Note.Text" class="form-control"></textarea>
                    <span asp-validation-for="@Model.Note.Text" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <i class="fa fa-tag"></i> Tag:
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="radiobtnWithoutTag" class="custom-control-input"
                               asp-for="@Model.SelectedCategoryId" value="0">
                        <label for="radiobtnWithoutTag" class="custom-control-label">Without Tag</label>
                    </div>
                    @for (int i = 0; i < Model.EntityCategories.Count; i++)
                    {
                        string id = "radiobtn" + Model.EntityCategories[i].Name;

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="@id" class="custom-control-input"
                                   asp-for="@Model.SelectedCategoryId" value="@Model.EntityCategories[i].CategoryId">
                            <label for="@id" class="custom-control-label">@Model.EntityCategories[i].Name</label>
                            <input type="hidden" asp-for="@Model.EntityCategories[i].Name" />
                            <input type="hidden" asp-for="@Model.EntityCategories[i].CategoryId" />
                        </div>
                    }
                </div>
            </div>
            @if (@Model.Note.HasStatus)
            {
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="hidden" asp-for="@Model.Note.HasStatus" />
                        <input type="checkbox" id="editnote-status-id" asp-for="@Model.Note.IsCompleted" />
                        <label for="editnote-status-id">Completed</label>
                    </div>
                </div>
            }
            <div class=" col-md-12">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

@section Styles 
{
    <link href="~/lib/login-form/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
}

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
