
@model MyPlace.Areas.Notes.Models.NotesViewModel
<ul class="nav nav-tabs">
    @foreach (var entity in Model.UserEntites)
    {
        var cssClass = "nav-link";
        @if (entity.EntityId == Model.SelectedEntityId)
        {
            cssClass += " active";
        }
        <li class="nav-item">
            <a class="@cssClass" asp-area="Notes" asp-controller="Notes" asp-action="Notes" asp-route-entityId="@entity.EntityId">@entity.Title</a>
        </li>
    }
</ul>
<div class="tab-content clearfix">
    <div class="tab-pane active">
        <div id="accordion">
            <div>
                <div class="card-header" id="headingAddNote">
                    <h5 class="mb-0 collapsible-header" data-toggle="collapse" data-target="#collapseAddNote" aria-expanded="true" aria-controls="collapseAddNote">
                        <button class="btn btn-link">Add Note</button>
                    </h5>
                </div>
                <div id="collapseAddNote" class="collapse show collapsible-panel" aria-labelledby="headingAddNote" data-parent="#accordion">
                    <partial name="_AddNotePartial" model="Model.AddNote" />
                </div>
            </div>

            <div>
                <div class="card-header" id="headingSearch">
                    <h5 class="mb-0 collapsible-header collapsed" data-toggle="collapse" data-target="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch">
                        <button class="btn btn-link">Search</button>
                    </h5>
                </div>
                <div id="collapseSearch" class="collapse collapsible-panel" aria-labelledby="headingSearch" data-parent="#accordion">
                    <partial name="_SearchNotesPartial" model="Model.SearchNotes" />
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th><input type="hidden" /></th>
                    <th>Text</th>
                    <th>Date</th>
                    <th>Creator</th>
                    <th>Is Completed</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var note in Model.Notes)
                {
                    <partial name="_NotesPartial" model="note" />
                }
            </tbody>
        </table>
    </div>
</div>

@{
    var prevDisabled = !Model.Notes.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Notes.HasNextPage ? "disabled" : "";
}

<a asp-area="Notes" asp-action="Notes"
   asp-route-pageNumber="@(Model.Notes.PageIndex - 1)"
   @*asp-route-currentFilter="@ViewData[" CurrentFilter"]"*@
   class="btn @prevDisabled">
    <strong>Previous</strong>
</a>
<a  asp-area="Notes" asp-action="Notes"
   asp-route-pageNumber="@(Model.Notes.PageIndex + 1)"
   @*asp-route-currentFilter="@ViewData[" CurrentFilter"]"*@
   class="btn @nextDisabled">
    Next
</a>

@section Styles
    {
    <link rel="stylesheet" href="~/css/notes.css" />
}
