
@model MyPlace.Areas.Notes.Models.NotesViewModel

<ul class="nav nav-tabs">
    @foreach (var entity in Model.UserEntites)
    {
        var cssClass = "nav-link";
        @if (entity.EntityId == Model.SelectedEntityId)
        {
            cssClass += " active";
        }
        <li class="nav-item">
            <a class="@cssClass" asp-area="Notes" asp-controller="Notes" asp-action="Notes" asp-route-entityId="@entity.EntityId">@entity.Title</a>
        </li>
    }
</ul>
@{
    string searchPanelClass = "";
    string addPanelClass = "";
    string searchHeaderClass = "";
    string addHeaderClass = "";
    if (Model.SearchNotes.IsSearchActive)
    {
        searchPanelClass += "show";
        addHeaderClass += "collapsed";
    }
    else
    {
        addPanelClass += "show";
        searchHeaderClass += "collapsed";
    }
}
<div class="tab-content clearfix">
    <div class="tab-pane active">
        <div id="accordion">
            <div>
                <div class="card-header" id="headingAddNote">
                    <h5 class="mb-0 collapsible-header @addHeaderClass" data-toggle="collapse" data-target="#collapseAddNote" aria-expanded="true" aria-controls="collapseAddNote">
                        <button class="btn btn-link">Add Note</button>
                    </h5>
                </div>
                <div id="collapseAddNote" class="collapse collapsible-panel @addPanelClass" aria-labelledby="headingAddNote" data-parent="#accordion">
                    <partial name="_AddNotePartial" model="Model.AddNote" />
                </div>
            </div>

            <div>
                <div class="card-header" id="headingSearch">
                    <h5 class="mb-0 collapsible-header @searchHeaderClass" data-toggle="collapse" data-target="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch">
                        <button class="btn btn-link">Search</button>
                    </h5>
                </div>
                <div id="collapseSearch" class="collapse collapsible-panel @searchPanelClass" aria-labelledby="headingSearch" data-parent="#accordion">
                    <partial name="_SearchNotesPartial" model="Model.SearchNotes" />
                </div>
            </div>
        </div>
        @foreach (var note in Model.Notes)
        {
            <partial name="_NotesPartial" model="note" />
        }
    </div>
</div>

@{
    var prevDisabled = !Model.Notes.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Notes.HasNextPage ? "disabled" : "";
}

<a href="@Model.PreviousPageLink" class="btn @prevDisabled">
    <strong>Previous</strong>
</a>

<a href="@Model.NextPageLink" class="btn @nextDisabled">
    <strong>Next</strong>
</a>

@section Styles
{
    <link rel="stylesheet" href="~/css/notes.css" />
    <link href="~/lib/login-form/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
}
